html {
    background-color: #282c34;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

#container{
    position: absolute;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#sub-container-0{
    margin: 50px;
    width: 800px;
    height: 600px;
    border-radius: 5px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
}

#sub-container-1{
    margin: 50px;
    width: 800px;
    height: 600px;
    border-radius: 5px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
}

h1{
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
}

/* Inputs */
a,
label,
select,
input {
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    position: relative;
    width: 80%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgba(3,3,3,.1);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

textarea {
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    position: relative;
    width: 90%;
    height: 90%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgba(3,3,3,.1);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

input:focus{
    outline: none;
    box-shadow: 3px 3px 10px #333;
}

.clicked {
    background-color: rgba(255,30,30,.18);
}

/* Placeholders */
::-webkit-input-placeholder {
    color: #ddd;  }
:-moz-placeholder { /* Firefox 18- */
    color: red;  }
::-moz-placeholder {  /* Firefox 19+ */
    color: red;  }
:-ms-input-placeholder {
    color: #333;  }

.checkbox {
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 5px;
    border-radius: 4px;
    background: rgba(3,3,3,.2);
    display: inline-block;
    width: 16px;
    height: 15px;
}

.checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:checked {
    background: rgba(3,3,3,.4);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.5);
    color: #fff;
}

.checkbox:checked:after {
    content: '\2714';
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 4px;
    color: #fff;
}

#branches {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.orange-btn{
    background: rgba(87,198,255,.5);
}
